{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "no-console": 0
  }
}
